<div class="layout-topbar" style="margin-top: 4px;border-radius: 0 0 30px 0;">
    <span class="topbar-page-name">PMS</span>
    <span class="topbar-page-name" *ngIf="apiService.IsAdmin === true"><i class="pi pi-spin pi-cog" style="font-size: 2rem;color: #165e64;margin-left: 5px;margin-top: -6px;" 
      (click)="appMain.toggleMenu()"></i></span>
    <span class="topbar-page-name" *ngIf="apiService.IsAdmin === true">{{apiService.CurrentMenuName}}</span>

    <ul class="customNav">
      
    </ul>
</div>